<div class="container">
  <div class="row">
    <div class="col-md-5 col-12 auth-container p-4 rounded border mx-auto">
      <div class="mb-3">
        <h3 class="text-center">Forgot Password?</h3>
        <p class="text-center">Enter your email address and we'll send you a link to reset your password.</p>
      </div>
      <% if (error_msg.length> 0) { %>
      <div class="custom-alert-error rounded mb-2" role="alert">
        <%= error_msg %>
      </div>
      <% } %>
      <% if (success_msg.length> 0) { %>
      <div class="custom-alert-success rounded mt-2" role="alert">
        <%- success_msg %>
      </div>
      <% } %>
      <form action="/api/v1/reset-password" method="post" onsubmit="disableSubmitButton() ">
        <div class="form-group mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" name="email" class="form-control mb-1" id="email" placeholder="Enter your email" required autocomplete="off">
        </div>
        <button class="btn btn-primary w-100" id="submit-button" type="submit">Send</button>
      </form>

      <div class="text-center mt-3">
        <a href="/">Back To Home</a>
      </div>
    </div>
  </div>
</div>
<script>
    function disableSubmitButton() {
    const submitButton = document.getElementById("submit-button");
    submitButton.disabled = true;
    submitButton.textContent = "Submitting...";
  }
</script>