<div class="container px-0">
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">Dashboard</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <div class="card bg-primary text-white h-100">
                <div class="card-body py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-book-open">
                        <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                        <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                    </svg>
                    <h1 class="fs-3 mt-1">Articles</h1>
                </div>
                <a href="/dashboard/articles" class="card-footer d-flex">
                    View Details
                    <span class="ms-auto">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <div class="card bg-warning text-dark h-100">
                <div class="card-body py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-list">
                        <line x1="8" y1="6" x2="21" y2="6"></line>
                        <line x1="8" y1="12" x2="21" y2="12"></line>
                        <line x1="8" y1="18" x2="21" y2="18"></line>
                        <line x1="3" y1="6" x2="3.01" y2="6"></line>
                        <line x1="3" y1="12" x2="3.01" y2="12"></line>
                        <line x1="3" y1="18" x2="3.01" y2="18"></line>
                    </svg>
                    <h1 class="fs-3 mt-1">Categories</h1>
                </div>
                <a href="/dashboard/categories" class="card-footer d-flex">
                    View Details
                    <span class="ms-auto">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <div class="card bg-success text-white h-100">
                <div class="card-body py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    <h1 class="fs-3 mt-1">Users</h1>
                </div>
                <a href="/dashboard/users" class="card-footer d-flex">
                    View Details
                    <span class="ms-auto">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <div class="card bg-danger text-white h-100">
                <div class="card-body py-5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-message-square">
                    <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                </svg>
                    <h1 class="fs-3 mt-1">Contact</h1>
                </div>
                <a href="/dashboard/contact" class="card-footer d-flex">
                    View Details
                    <span class="ms-auto">
                        <i class="bi bi-chevron-right"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>