<div class="container px-0">
  <div class="row">
    <div class="col-lg-6 col-md-8 col-12">
      <div class="card">
        <div class="card-header">
          <h4>Change Password</h4>
          <% if (error_msg.length> 0) { %>
          <div class="custom-alert-error rounded mt-2" role="alert">
            <%= error_msg %>
          </div>
          <% } %>
          <% if (success_msg.length> 0) { %>
          <div class="custom-alert-success rounded mt-2" role="alert">
            <%= success_msg %>
          </div>
          <% } %>
        </div>
        <div class="card-body">
          <form action="/api/vi/update/password/<%-user._id %>?_method=PUT" method="post" onsubmit="validatePassword()">
            <div class="form-group mb-3">
              <label for="currentPassword" class="form-label">Current Password</label>
              <input type="password" name="currentPassword" class="form-control mb-1" id="currentPassword" placeholder="Enter your current password" required autocomplete="off">
              <p class="password-error-message currentPassword text-danger"></p>
            </div>
            <div class="form-group mb-3">
              <label for="newpassword" class="form-label">New Password</label>
              <input type="password" name="newPassword" class="form-control mb-1" id="newpassword" placeholder="Enter your new password" required autocomplete="off">
              <p class="password-error-message newPassword text-danger"></p>
            </div>
            <button id="submit-button" class="btn btn-primary w-100" type="submit">Change</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function validatePassword() {
    const currentPasswordInput = document.querySelector('#currentPassword');
    const newPasswordInput = document.querySelector('#newPassword');
    const passwordRegex = /^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{6,25})/;
    if (!passwordRegex.test(currentPasswordInput.value)) {
      document.querySelector('.currentPassword').innerHTML = `Password must be 6-25 characters long, contain at least one uppercase letter, one special character, and one number.`;
      currentPasswordInput.classList.add('border-danger')
      return false;
    } else if (!passwordRegex.test(newPasswordInput.value)) {
      document.querySelector('.newPasswordInput').innerHTML = `Password must be 6-25 characters long, contain at least one uppercase letter, one special character, and one number.`;
      newPasswordInput.classList.add('border-danger')
      return false;
    }
    disableSubmitButton()
    return true;
  }

  function disableSubmitButton() {
    const submitButton = document.getElementById("submit-button");
    submitButton.disabled = true;
    submitButton.textContent = "Submitting...";
  }
</script>