<section class="py-5 hero-banner-section position-relative mb-5">
  <div class="d-flex align-items-center justify-content-center pt-5">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html" class="display-8 text-white fw-bold text-decoration-none text-white">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <span class="display-8 text-white fw-bold text-decoration-none text-white">Categories</span>
        </li>
      </ol>
    </nav>
  </div>
  <div id="particles-js" class="position-absolute top-0"></div>
</section>
<section class="mb-5">
  <div class="container px-0">
    <% if(categories.length) { %>
      <div class="d-flex flex-wrap align-items-center gap-3">
        <% categories.forEach((data)=>{%>
          <a href="/category/<%-data.name%>" class="btn tag tag-btn border text-capitalize">
            <%-data.name  %>
          </a>
        <%}) %>
      </div>
    <% }else{ %>
    <div class="my-5 py-5">
      <p class="text-center">No Categories Found.</p>
    </div>
    <% } %>
  </div>
</section>