<section class="py-5 hero-section position-relative mb-5">
    <div class="d-flex flex-column justify-content-center w-100 pt-5">
        <h1 class="display-5 fw-bold">The Journey of Self-Discovery</h1>
        <p>Exploring thoughts, adventures, and the art of living fully.</p>
    </div>
    <div id="particles-js" class="position-absolute top-0"></div>
</section>
<section class="mb-5">
    <h2 class="display-8 text-white fw-bold mb-3">Categories</h2>
    <div class="d-flex align-items-center flex-wrap gap-2">
        <a href="" class="btn tag tag-btn border">Technology</a>
        <a href="" class="btn tag tag-btn border">Space</a>
        <a href="" class="btn tag tag-btn border">Car</a>
        <a href="" class="btn tag tag-btn border">Games</a>
    </div>
</section>
<section class="mb-5">
    <h2 class="display-8 text-white fw-bold mb-3">Recent Posts</h2>
    <div class="container px-0">
        <div class="row ">
            <a href="" class="col-lg-4 col-md-6 col-12 custom-card">
                <div class="post-image-container overflow-hidden ratio ratio-16x9 rounded">
                    <img src="/images/img1.jpg" alt="" class="w-100 h-100 object-fit-cover">
                </div>
                <div class="post-details-container px-2 py-3">
                    <span class="btn tag tag-btn border">Technology</span>
                    <h1 class="fs-5 post-card-title text-white my-2">Exploring thoughts, adventures, and the art of living fully.</h1>
                    <p class="post-summary">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate eius nemo repellendus repudiandae mollitia tenetur sit.</p>
                </div>
            </a>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <a href="/articles" class="btn tag border">Explore Now</a>
    </div>
</section>