@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
h1,
h2,
h3,
.heading,
.nav-link {
    font-family: "Outfit", sans-serif;
}

.btn,
.tag {
    font-family: "Jost", sans-serif;
}

p {
    margin-bottom: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

body {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.4;
    background-color: #141414;
}

.Logo {
    height: 1.25rem;
    width: auto;
    object-fit: contain;
}

.header {
    width: 100dvw;
    left: 0;
    right: 0;
    z-index: 99999;
    /* transition: all 300ms ease-in-out; */
}

.header.active {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

.header.color {
    background-color: #141414;
}

.navbar-collapse {
    transition: all 300ms ease-in-out !important;
}

.menu-btn {
    height: 2rem;
    width: 2rem;
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    outline: none !important;
}

.menu-btn:focus {
    outline: none !important;
}

.line {
    width: 1.5rem;
    height: 1.5px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    transition: all 300ms ease-in-out;
}

.line:nth-child(1) {
    transform: translateY(-6px);
}

.line:nth-child(3) {
    transform: translateY(6px);
}

.menu-btn.active .line:nth-child(1) {
    transform: translateY(0px) rotate(45deg) scaleX(.9);
}

.menu-btn.active .line:nth-child(2) {
    transform: scaleX(0);
}

.menu-btn.active .line:nth-child(3) {
    transform: translateY(0px) rotate(-45deg) scaleX(.9);
}

.nav-link {
    font-size: 15px;
    font-weight: 400;
    transition: all 300ms ease-in-out;
}

.navbar-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
}

.navbar-form>input {
    outline: none;
    border: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    padding-left: 5px;
}

.navbar-form>button {
    height: 32px;
    width: 32px;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag {
    transition: all 300ms ease-in-out;
}
.article-tag{
    font-size: 14px;
    background-color: #2f2f2f;
    transition: all 300ms ease-in-out;
}
.article-tag:hover{
    background-color: #3d3d3d;
}

.tag:hover {
    background-color: #2f2f2f;
}

.hero-section {
    height: 70dvh;
    display: flex;
    justify-content: center;
}

#particles-js {
    width: 100% !important;
    height: 100% !important;
    z-index: -1;
}

.post-details-container {
    background-color: #141414;
    transform: translateY(-1.5rem);
    border-radius: 0.375rem;
    border-inline: 1px solid rgba(255, 255, 255, 0.068);
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

.custom-card {
    text-decoration: none;
    color: inherit;
}

.post-image-container>img {
    transition: all 300ms ease-in-out;
}

.custom-card:hover>.post-image-container>img {
    transform: scale(1.1);
}

.custom-card:hover>.post-details-container>h1 {
    text-decoration: underline;
}

.post-details-container {
    transition: all 300ms ease-in-out;
}

.custom-card:hover .post-details-container {
    background-color: #1a1a1a;
}

.post-summary {
    font-size: 14px;
    font-weight: 300;
}
.footer-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-btn{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
    padding: 0;
}
.footer-btn:hover {
    background-color: #2f2f2f;
}
.footer-text{
    font-size: 14px;
}
.hero-banner-section{
    height: 30dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.author-container{
    height: 2rem;
    width: 2rem;
}
.user-container{
    height: 1.75rem;
    width: 1.75rem;
}
.reply-container{
    background-color: #2f2f2f;
}
.category-card > a{
    transition: all 300ms ease-in-out;
}
.category-card > a:hover{
    background-color: #2f2f2f;
}
.error-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}
@media (max-width:768px) {
    .menu-btn {
        display: flex;
    }

    .navbar-form {
        height: 35px;
    }

    .nav-link {
        font-size: 18px;
    }

    .hero-section {
        height: 60dvh;
    }
}

@media (max-width:576px) {
    .Logo {
        height: 1.5rem;
    }

    .navbar-form {
        height: 40px;
    }

    .nav-link {
        font-size: 20px;
    }

    .post-summary {
        display: none;
    }

    .hero-section {
        height: 50dvh;
    }
    .hero-banner-section{
        height: 20dvh;
    }

    .post-card-title {
        font-size: 1.5rem !important;
    }
}