<section class="error-container">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center flex-column gap-2">
            <p class="fs-5 text-white"><span class="me-2">500</span>|<span class="ms-2">Something Went Wrong!</span></p>
            <div class="mt-5">
                <a href="/" class="btn btn-warning">Back to Home</a>
            </div>
        </div>
    </div>
</section>